

/* css para el portafolio  */


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* variables globales */
:root{
    --color-gradient: #ccd0d5;
    --box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
    --box-shadow1: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    --box-shadow2:0 0px 0px 0 var(--color-gradient), 0 0px 10px 0 var(--color-gradient);
    --box-shadow3: 0 0px 0px 0 var(--color-gradient), 0 0px 10px 0 #2f3238;

    --fondo0: #0f1518;
    --fondo1: white;
    --fondo2: black;

    --text-color: black;
    --text-color2: white;


    --relleno: 15px;
    --relleno1: 10px;
    --relleno2: 7px;
    --relleno3: 5px;

    --redondo1: 50px;
    --redondo2: 20px;
    --redondo3: 10px;

    --text-color1: black;
    --text-color2: white;

    --animacion-burbuja: modal-burbuja 155ms alternate linear;

    
    --color-gray: #cfd0d1;
    --color-green: #008A4C;
    --color-alert: #e90c0c;

    --color-grey-normal: rgba(0, 0, 0, 0.50);
    --color-transparente: transparent;
    --color-parpadeo: #f3f3f3;
    --color-parpadeo1: #ecffda;
    --color-fondo-parpadeo: #ffffff;

    --animacion: modal-pop 110ms alternate linear;


    --font-size-titulo: 30px;
    --font-size-titulo1: 35px;
    --font-size-titulo2: 40px;

    --font-size1: 25px;
    --font-size2: 20px;
    --font-size3: 17px;
    --font-size4: 15px;
    --font-size5: 12px;
    --font-size6: 10px;

    --fuente-strong: "Staatliches", sans-serif;
    --fuente: "Roboto", sans-serif;

    --duracion-modal-pop: 190ms;
}

html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 61px;
    overflow: hidden;
    background: var(--fondo0);
}

.display-none{
    display: none !important;
}
.transform-none{
    transform: none !important;
}
.title{
    width: 100%;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color2);
    font-family: var(--fuente-strong);
    text-align: center;
}

/* Para la animacion de salir del interior hasta el exterior */
@keyframes modal-burbuja {
    from { transform: scale(-0.2); }
    to { transform: scale(1); }
}

/* Para la animacion de salir del interior hasta el exterior */
@keyframes modal-pop {
    from { transform: scaleX(-0.2); }
    to { transform: scaleX(1); }
}
.navigation-bar{
    width: 100%;
    background: var(--fondo2);
    display: flex;
    justify-content: space-between;
    align-items: center ;
    border-radius: var(--redondo3) var(--redondo3) 0px 0px;
    padding: var(--relleno3);
    box-sizing: border-box;
}
.navigation-bar span{
    font-family: var(--fuente-strong);
    font-weight: bold;
    font-size: var(--font-size-titulo);
    color: var(--text-color2);
}
.state-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.state-container span{
    font-family: var(--fuente);
    font-size: var(--font-size4);
}
.state-container img{
    width: 30px;
    height: 30px;
}


.navigation-bar-bottom{
    display: flex;
    width: 100%;
    padding: var(--relleno1);
    border-radius: 0px 0px var(--redondo3) var(--redondo3);
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    background: var(--fondo2);
    justify-content: space-around;
}

.navigation-bar-bottom > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    position: relative;
}
.selected::after{
    content: '';
    width: 5px;
    height: 5px;
    background: var(--text-color2);  
    border-radius: var(--redondo1);
}
.navigation-bar-bottom > div:active{
    transform: scale(0.96);
    transition-duration: 150ms;
}

.navigation-bar-bottom > div img{
    height: 30px;
    width: 30px;
    user-select: none;
}
.navigation-bar-bottom > div span{
    color: var(--text-color2);
    font-family: var(--fuente);
    font-size: var(--font-size3);
    user-select: none;
}

main{
    width: 100%;
    height: calc(100% - 129px);
}
main > section{
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: var(--relleno);
    box-sizing: border-box;
    animation: var(--animacion-burbuja);
}
/*-------------- Scroll ----------*/
/* para el grosor del scrollbar */
main > section::-webkit-scrollbar{
    width: 5px;
    border-radius: var(--redondo1);
}
/* para el boton que se desliza sobre la barra */
main > section::-webkit-scrollbar-thumb{
    background: var(--text-color1);
    border-radius: var(--redondo1);
}

/* para el contenedor de la barra que se desliza */
main > section::-webkit-scrollbar-track{
    border-radius: var(--redondo1);
}

.principal-section{
    display: flex;
    flex-direction: column;
    background-image: url('../images/imagenPrincipal.png');
    /* background-repeat: no-repeat;  No repetir la imagen */
    justify-content: space-between;
}
.principal-section span:first-child{
    margin-top: 50px;
    font-size: var(--font-size-titulo1);
    font-family: var(--fuente-strong);
    color: var(--text-color2);
    text-align: center;
    user-select: none;
}

.principal-section span:last-child{
    font-size: var(--font-size2);
    font-family: var(--fuente-strong);
    color: var(--text-color2);
    text-align: center;
    user-select: none;
    margin-bottom: 10px;
}

/* para los skills */
.skill{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: var(--text-color2);
    font-family: var(--fuente);
    box-sizing: border-box;
    padding: var(--relleno1);
    background: var(--fondo2);
    border-radius: var(--redondo1);
}
.skill > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--relleno3)
    box-sizing: border-box;
}
.skill > div img{
    width: 50px;
    height: 50px;
}
.skill > div span{
    font-family: var(--fuente);
    font-size: var(--font-size2);
    font-weight: bold;
}
.skill p{
    font-family: var(--fuente);
    font-size: var(--font-size3);
    margin: 0px;
}

/* para los proyectos */
.proyect{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centers;
    background: var(--fondo2);
    padding: var(--relleno);
    border-radius: var(--redondo1);
    color: var(--text-color2);
    font-family: var(--fuente);
}
.proyect > div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.proyect > div img{
    width: 50px;
    height: 50px;
    padding: var(--relleno);
}
.proyect > div span{
    font-size: var(--font-size2);
    font-weight: bold;
}
.proyect p{
    width: 100%;
    font-size: var(--font-size3);
    margin: 0px;
}
.proyect > img{
    width: 100%;
}
.proyect h2{
    width: 100%;
    font-size: var(--font-size2);
    margin: 0px;
}
.proyect h3{
    width: 100%;
    font-size: var(--font-size2);
    margin: 0px;
    font-weight: 400;
    margin-top: 3px;
    margin-bottom: 3px;
}


/* para la seccion de fotografia (herramientas)*/

.tools{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: var(--redondo1);
    background: var(--fondo2);
    padding: var(--relleno);
}
.tools > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tools > div img{
    width: 50px;
    height: 50px;
}
.tools > div span{
    font-family: var(--fuente);
    color: var(--text-color2);
    font-size: var(--font-size2);
    margin-top: 5px;
    margin-bottom: 5px;
}


/* para la seccion del gym */

.container-gym{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-gym > div{
    width: fit-content;
    border-radius: var(--redondo1);
    background: var(--fondo2);
    padding: var(--relleno2);
    color: var(--text-color2);
}
.container-gym > div > h2{
    font-size: var(--font-size2);
    font-family: var(--fuente);
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.container-gym > div > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-gym > div > div img{
    width: 50px;
    height: 50px;
    padding: var(--relleno);
}
.container-gym > div > div span{
    font-family: var(--fuente);
    font-size: var(--font-size2);
}

/* para la seccion de me */

.me{
    position: fixed;
    width: 80%;
    background: var(--fondo2);
    color: var(--text-color2);
    border-radius: var(--redondo1);
    padding: var(--relleno);
    bottom: 5rem;
    animation: var(--animacion-burbuja);
}
.me h2, .me h3{
    font-family: var(--fuente-strong);
    letter-spacing: normal;
    user-select: none;
}
.me h2:first-child{
    margin-bottom: 15px;
}
.me h2{
    font-size: var(--font-size2);
    margin: 0px;
    margin-bottom: 5px;
}
.me h3{
    font-size: var(--font-size3);
    margin: 0px;
    margin-bottom: 5px;
}
.contact-me{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.contact-me h1{
    margin: 0px;
    font-family: var(--fuente-strong);
    font-size: var(--font-size-titulo1);
    margin-right: 5px;
    user-select: none;
}
.contact-me h3{
    align-self: flex-end;
}
.contact-social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-social img{
    padding: var(--relleno2);
    user-select: none;
}


.container-images{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-images img{
    width: 100%;
    height: auto;
}