


.LandingPage{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: var(--fondo-landing);
}


/*------ para el navbar     */
.navbar-LandingPage{
  position: absolute;
  width: 100%;
  height: fit-content;
  padding: var(--relleno3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  background: var(--fondo2);
  box-sizing: border-box;
  /* animation: simple-shadow-LandingPage 7s infinite alternate; */
}
.navbar-LandingPage > a{
  color: var(--text-color2);

}


@keyframes simple-shadow-LandingPage {
  0% { box-shadow: 0 0 5px rgba(0, 174, 255, 0.5); }
  33% { box-shadow: 0 0 5px rgba(12, 150, 213, 0.5); }
  66% { box-shadow: 0 0 5px rgba(34, 129, 173, 0.5); }
  100% { box-shadow: 0 0 5px rgba(51, 107, 135, 0.5); }
}

/* para el box shadow del texto */
@keyframes texto-shadow-LandingPage {
  0% { text-shadow: 0 0 25px rgba(0, 174, 255, 0.8); }
  33% { text-shadow: 0 0 15px rgba(12, 150, 213, 0.8); }
  66% { text-shadow: 0 0 15px rgba(30, 141, 193, 0.8); }
  100% { text-shadow: 0 0 15px rgba(45, 120, 158, 0.8); }
}
/* para el box shadow de la imagen */
@keyframes imagen-shadow-LandingPage {
  0%   { filter: drop-shadow(0 0 15px rgba(0, 174, 255, 0.8)); }
  33%  { filter: drop-shadow(0 0 10px rgba(12, 150, 213, 0.8)); }
  66%  { filter: drop-shadow(0 0 10px rgba(30, 141, 193, 0.8)); }
  100% { filter: drop-shadow(0 0 10px rgba(45, 120, 158, 0.8)); }
}
/* para el box shadow de la imagen */
@keyframes alert-shadow-LandingPage {
  0%   { filter: drop-shadow(0 0 15px rgba(255, 0, 0, 0.8)); }
  33%  { filter: drop-shadow(0 0 10px rgba(213, 12, 12, 0.8)); }
  66%  { filter: drop-shadow(0 0 10px rgba(193, 30, 30, 0.8)); }
  100% { filter: drop-shadow(0 0 10px rgba(158, 45, 45, 0.8)); }
}
.navbar-LandingPage > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar-LandingPage > div > h4{
  color: var(--text-color2);
  font-size: var(--font-size4);
  margin: 5px;
  user-select: none;
}
.navbar-LandingPage > div > h4:active{
  transform: scale(0.92);
  transition-duration: 10ms;
}
.navbar-LandingPage > a{
  margin-left: 5px;
}
.navbar-LandingPage > a:active{
  transform: scale(0.92);
  transition-duration: 10ms;
}


/* para el navbar option en donde estan las opciones de seleccion del sistema */
.navbar-options{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 43px;
  width: 100%;
  background: var(--fondo2);
  padding: var(--relleno3);
}

/* para el contenedor que contiene la opcion seleccionada del sistema */
.navbar-options-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--relleno3);
}

.navbar-options-item:active, .navbar-options-item > img{
  transform: scale(0.92);
  transition-duration: 40ms;
}

.navbar-options-item > span{
  font-size: var(--font-size4);
  color: var(--text-color2);
}
.navbar-options-item > img{
  height: 25px;
  width: 25px;
  user-select: none;
}


/* para el contenedor de cada seccion */
.seccion{
  width: 100%;
  height: 100%;
  background: var(--fondo-landing);
  box-sizing: border-box;
}
.seccion-index{
  height: 100% !important;
}

/* para el titulo de cada seccion del landing */
.titulo-seccion-LandingPage{
  font-size: 35px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding-top: 5rem;
}


/* para el contenedor de mensajes del index */
.contenedor-index-LandingPage{
  width: 70%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 12rem;
}
.contenedor-index-LandingPage > h1{
  font-size: 50px;
}
.contenedor-index-LandingPage > h2{
  width: 60%;
  margin: 0;
  font-size: var(--font-size2);
  text-align: center;
  animation: fadeBtn-LandingPage 0.9s ease-out forwards;
}

.contenedor-index-LandingPage > button{
  outline: none;
  border: 1px solid #a5dded;
  border-radius: var(--redondo1);
  padding: var(--relleno1);
  width: fit-content;
  margin-top: 30px;
  font-size: var(--font-size2);
  text-align: center;
}
.contenedor-index-LandingPage > button:active{
  transform: scale(0.95);
  transition-duration: 50ms;
}

.boton-action-LandingPage{
  display: flex;
  outline: none;
  border: 1px solid #a5dded;
  border-radius: var(--redondo1);
  padding: var(--relleno1);
  width: fit-content;
  margin-top: 30px;
  font-size: var(--font-size2);
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  justify-self: center
}
.boton-action-LandingPage:active{
  transform: scale(0.95);
  transition-duration: 50ms;
}

.boton-contacto-LandingPage{
  display: flex;
  outline: none;
  border: 1px solid #a5dded;
  border-radius: var(--redondo1);
  padding: var(--relleno1);
  width: fit-content;
  font-size: var(--font-size2);
  text-align: center;
  margin: 0;
}
.boton-contacto-LandingPage:active{
  transform: scale(0.95);
  transition-duration: 50ms;
}

/* para el color con gradiente y box shadow */
.texto-shadow-LandingPage{
  background: linear-gradient(180deg, #A5DDED 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin: var(--relleno3);
  animation: texto-shadow-LandingPage 6s infinite alternate, fadeSlide-LandingPage 1.8s ease-out forwards;
}
.imagen-shadow-LandingPage{
  animation: imagen-shadow-LandingPage 3s infinite ease-in-out;
}

.alert-shadow-LandingPage{
  animation: alert-shadow-LandingPage 3s infinite ease-in-out;
}


/* para el contenedor del numero de post analizados */
.contenedor-texto-analizados-LandingPage{
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
}
.contenedor-texto-analizados-LandingPage > h1{
  margin: 0;
  text-align: center;
  font-size: 50px;
}
.contenedor-texto-analizados-LandingPage:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
}
.contenedor-texto-analizados-LandingPage > h3{
  margin: 0;
  text-align: center;
  font-size: var(--font-size3);
}




/*  ---------   para el contenido de la seccion valor*/

.contenedor-items-valor-LandingPage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* para el item de cada valor */
.item-valor-LandingPage{
  max-width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.item-valor-LandingPage:hover{
  transform: scale(1.1);
  transition-duration: 200ms;
}
.item-valor-LandingPage > img{
  width: 35px;
  height: 35px;
  user-select: none;
  margin: 15px;
  animation: imagen-shadow-LandingPage 3s infinite ease-in-out;
}
.item-valor-LandingPage > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--redondo2);
  padding: var(--relleno2);
  border: 1px solid #a5dded;
}
.item-valor-LandingPage > div > h2{
  font-size: var(--font-size2);
}
.item-valor-LandingPage > div > span{
  font-size: var(--font-size4);
  color: var(--text-color2);
  font-weight: bold;
  text-align: center;
}


.fz-5-LandingPage{
  font-size: var(--font-size5) !important;
}


/* ------ para el contenedor de los servicios*/
.contenedor-servicios-LandingPage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.seccion-servicios-LandingPage{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.seccion-servicios-LandingPage > span{
  font-size: var(--font-size5);
  font-weight: bold;
  padding: var(--relleno2);
  box-sizing: border-box;
  margin: 0;
  height: 110px;
}



/* para el contenedor del contacto por instagram */
.contenedor-contacto-LandingPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contenedor-contacto-LandingPage > a{
  text-decoration: none;
  text-align: center;
}
.contenedor-contacto-LandingPage > a > h1{
  font-size: 35px;
}
.contenedor-contacto-LandingPage > a > img{
  animation: bounce-LandingPage 2s infinite;
}
.contenedor-contacto-LandingPage > a > img:hover{
  transform: scale(1.1);
  transition-duration: 150ms;
}


/* para lo referente al servicio de notificaciones */
.contenedor-servicio-notificaciones-LandingPage{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--redondo1);
  padding: var(--relleno1);
  animation: simple-shadow-LandingPage 7s infinite alternate;
}
.contenedor-servicio-notificaciones-LandingPage > span{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--font-size6);
  height: var(--font-size6);
  font-size: var(--font-size6);
  font-weight: bold;
  top: 3px;
  right: 15px;
  background: var(--fondo2);
  border-radius: var(--redondo1);
  padding: var(--relleno3);
  animation: simple-shadow-LandingPage 7s infinite alternate, pulse-LandingPage 1.5s infinite, bounce-LandingPage 2s infinite;
}


/* para la info de la notificacion */
.info-servicio-notificaciones-LandingPage{
  display: flex;
  color: var(--text-color2);
  background: var(--fondo2);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  max-width: 70%;
  border-radius: var(--redondo1);
  padding: var(--relleno1);
  animation: simple-shadow-LandingPage 7s infinite alternate, pulse-LandingPage 2s infinite, bounce-LandingPage 3s infinite;
}










/* Efecto de pulso */
@keyframes pulse-LandingPage {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 179, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 5px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

/* Efecto de rebote */
@keyframes bounce-LandingPage {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(-3px);
  }
}



/* animacion para el texto de ia */
.animacion-texto-LandingPage{
  animation: fadeSlide-LandingPage 1.8s ease-out forwards;
}

.animacion-boton-LandingPage{
  animation: fadeBtn-LandingPage 0.9s ease-out forwards;
}

@keyframes fadeSlide-LandingPage {
  0% { opacity: 0; transform: translateY(18px); }
  100% { opacity: 1; transform: translateY(0); }
}


@keyframes fadeBtn-LandingPage {
  0% { opacity:0; transform: translateY(15px); }
  100% { opacity:1; transform: translateY(0); }
}









/*---- Respinsive   */


/* Escritorio grande */
@media only screen and (min-width: 992px){

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .navbar-LandingPage{
    width: 100%;
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
  .navbar-LandingPage{
    width: 100%;
  }
  .seccion{
    height: auto;
    margin-top: 100px;
  }
  .seccion-servicios-LandingPage{
    width: 95%;
  }

  .contenedor-mensajes-ChatAsistenteLanding{
    bottom: -17rem !important;
  }
  .contenedor-primario-ChatAsistenteLanding{
    margin-bottom: 280px;
  }

}

/* Teléfonos */
@media only screen and (max-width: 575px){

  .LandingPage{
    padding-top: 10px;
  }
  .navbar-LandingPage{
    width: 98%;
  }
  .navbar-LandingPage > div > h4 {
    font-size: var(--font-size5);
  }
  .contenedor-index-LandingPage > h1 {
    width: 80%;
    font-size: 30px;
  }
  .contenedor-index-LandingPage > h2 {
    display: flex;
    width: 100%;
    font-size: var(--font-size4);
  }
  .item-valor-LandingPage:hover{
    transform: scale(1.05);
    transition-duration: 200ms;
  }
  .seccion{
    height: auto;
  }
  .contenedor-index-LandingPage{
    padding-top: 5rem;
  }
  .contenedor-contacto-LandingPage{
    height: 700px;
  }

  .seccion-servicios-LandingPage{
    width: 95%;
  }

  .contenedor-mensajes-ChatAsistenteLanding{
    bottom: -17rem !important;
  }
  .contenedor-primario-ChatAsistenteLanding{
    margin-bottom: 280px;
  }

}
